<div class="header">
  <h1>Users</h1>
</div>
<div *ngIf="!isLoaded">
  Loading ...
</div>
<div *ngIf="isLoaded">
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.username}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> First name </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.firstName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef> Last name </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.lastName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="enabled">
      <mat-header-cell *matHeaderCellDef> Enabled </mat-header-cell>
      <mat-cell *matCellDef="let user">
        <mat-checkbox [checked]="user.enabled" [disabled]="true"></mat-checkbox>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="gotoUser(row.username)"></mat-row>
  </mat-table>
</div>
