<div>
  <button mat-button color="primary" (click)="goBack()">&#8678; Back to cities</button>
</div>
<div class="header">
  <h1>City</h1>
</div>
<div *ngIf="!isLoaded">
  Loading ...
</div>
<div *ngIf="isLoaded">
  <form class="city-form" *ngIf="isLoaded" #cityForm="ngForm" (ngSubmit)="onCitySubmit(cityForm.value)">
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="dataSource.name" name = "name" placeholder="Enter city name" ngModel required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-select [(ngModel)]="countryId" name="countryId" placeholder="Select country" [(value)]="countryId" required>
        <mat-option *ngFor="let country of countries" [value]="country.id">
          {{ country.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button color="primary">Submit</button>
  </form>
</div>
