.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-row:hover{
  box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
}

.header{
  text-align: center;
}

.spinner-container {
  height: 360px;
  width: 390px;
  position: fixed;
}

.spinner-container mat-spinner {
  margin: 130px auto 0 auto;
}
