<div>
  <button mat-button color="primary" (click)="goBack()">&#8678; Back to users</button>
</div>
<div class="header">
  <h1>User</h1>
</div>
<div *ngIf="!isLoaded">
  Loading ...
</div>
<div *ngIf="isLoaded">
  <form class="user-form" *ngIf="isLoaded" #userForm="ngForm" (ngSubmit)="onUserSubmit(userForm.value)">
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="dataSource.username" name = "username"
             placeholder="Username" ngModel required [disabled]="true">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="dataSource.firstName" name = "firstName"
             placeholder="First name" ngModel required [disabled]="true">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="dataSource.lastName" name = "lastName"
             placeholder="Last name" ngModel required [disabled]="true">
    </mat-form-field>
    <section class="example-section">
      <mat-checkbox class="example-margin" [(ngModel)]="isAdmin" name = "isAdmin">Admin</mat-checkbox>
      <mat-checkbox class="example-margin" [(ngModel)]="isManager" name = "isManager">Manager</mat-checkbox>
      <mat-checkbox class="example-margin" [(ngModel)]="isUser" name = "isUser">User</mat-checkbox>
    </section>
    <section class="example-section">
      <mat-checkbox class="example-margin" [(ngModel)]="dataSource.enabled" name = "isEnabled">Enabled</mat-checkbox>
    </section>
    <button mat-button color="primary">Submit</button>
  </form>
</div>
